
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
}

/* heading and logo design */

#logo {
  float: left;
  font-family: Bebas Neue, sans-serif;
  color: orange;
  letter-spacing: 5px;
  font-size: 50px;
  padding-left: 20px;
}

/* nav bar design */

.menu {
    list-style-type: none;
    float: right;
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding: 10px 0 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 16px 35px;
  text-decoration: none;  
  font-size: large;
  font-weight: bold;
  color: orangered;
}

li a:hover {
  text-decoration: underline;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../css/images/hero-image-spanish.jpg) no-repeat center center;
    background-size: cover;
}

/* about section */

.about-spanish h2 {
  margin-top: 30px;
  color: orange;
  text-align: center;
  letter-spacing: 5px;
  font-family: Bebas Neue, sans-serif;
  font-size: 40px;
}

.about-spanish p {
  color: orangered;
  text-align: center;
  margin: 0 70px 0 70px;
}

/* images getting started */

.column {
  margin: 30px 0 30px 70px;
  float: left;
  width: 40%;
  padding: 5px;
}

.row {
  clear: both;
  display: table;
}

/* recommended links */

#recommended-links li {
  text-align: center;
  text-decoration: underline;
  float: left;
  margin: 0 0 0 186px;
}

/* footer and social media */

footer {
  margin: 0px auto;
  padding-bottom: 0px;
  width: 850px;
}

.social-media ul {
  list-style: none;
  margin: 10px 10px 10px 60px;
  padding: 0px;
}

.social-media li {
  float: left;
  margin: 40px 20px 40px 80px;
}

i {
  font-size: 200%;

}

/* contact page */

/* contact page hero image */

#contact-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  padding-top: 75px;
}

#contact-image {
  height: 600px;
  width: 100%;
  background: url(../css/images/contact-us-hero-image.jpg) no-repeat center center;
  background-size: cover;
}